Audiofiles/
Channels/
Melspectrograms/
pretrained_models/
QualitySpectrograms/
SampleAudiofiles/
Separatedfiles/
Spectrograms/
Tempographs/
app/Models/__pycache__/user.cpython-38.pyc
__pycache__/config.cpython-38.pyc
app/__pycache__/__init__.cpython-38.pyc
app/__pycache__/spotifyapi.cpython-38.pyc
app/__pycache__/views.cpython-38.pyc
app/__pycache__/admin_views.cpython-38.pyc
app/Models/__pycache__/audiofile.cpython-38.pyc

*.pyc
*.pyc
app/Models/__pycache__/audiofile.cpython-38.pyc
app/__pycache__/views.cpython-38.pyc
