{% extends "public/templates/public_template.html" %}

{% block title %}Login{% endblock %}

{% block main %}
<br>
<body>
  <div class="wrapper">
    <div class="title">
      Login Form
    </div>
    <form action="/login" method="POST">
      <div class="field">
        <input type="text" id="email" name="email" required>
        <label>Email Address</label>
      </div>
      <div class="field">
        <input type="password" id="password" name="password" required>
        <label>Password</label>
      </div>
      <div class="content">
        <div class="checkbox">
          <input type="checkbox" checked=true name ="rememberme" id="rememberme">
          <label for="rememberme">Remember me</label>
        </div>
      <div class="pass-link">
        <!-- FORGOT PASSWORD TODO -->
        <a href="#">Forgot password?</a></div>
      </div>
      <div class="field">
        <input onclick="cookietheemail('email')" type="submit" value="Login">
      </div>
      <div class="signup-link">
        Not a member? <a href="/sign-up">Signup now</a>
      </div>
    </form>
</body>

<script>
  function cookietheemail(email){
    document.cookie = 'email=' + document.getElementById(email).value ;
  }
</script>

{% endblock %}