{% extends "public/templates/public_template.html" %}

{% block title %}Profile{% endblock %}

{% block main %}

<div class="home-title" style="text-align: center;">
    <div class="row">
        <div class="col">
            <br>
            <h1>Hello {{ name }}</h1>
            <hr>
            <h2>E-mail: {{ email }}</h2>
            <br>
            <h2>Date of Creation: {{ creationDate }}</h2>
            <br>
            <h2>Last Login Date: {{ lastLogin }}</h2>
            <br>
            <h2>Number of files analyzed: {{ scannedFiles }}</h2>
        </div>
    </div>
</div>


{% endblock %}